@{
    ViewData["Title"] = "Sumar 2 Números";
}


    <h1 class="display-4">Sumando 2 números</h1>
    
    <form asp-controller="Home" asp-action="add2" method="post">
    <span>ingrese número 1: </span> <input id="t1" type="text" name="tx1"/> <br />
    <span>ingrese número 2: </span> <input id="t2" type="text" name="tx2" /> <br />
    <input id="Submit1" type="submit" value="Sumar 2 números"/>
    </form>

    <h2>La suma es: @ViewBag.SumResult2</h2>
