@model IEnumerable<CentroVacunacion2>
@{
    ViewData["Title"] = "Indice";
}
@*<h1>Indice del Centro de Vacunación</h1>*@

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Centros de vacunación</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="CentroVacunacion2" asp-action="Crear" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp Crear nuevo centro hidden vacunación
            </a>
        </div>
    </div>
    <br /> <br />
    <table class="table table-bordered table-striped style=width:100%">
        <thead>
            <tr>
                <th>
                    Centro de Vacunación
                </th>
                <th>
                    ProvinciaID
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var cv in Model)
            {
                <tr>
                    <td width="50%">
                        @cv.Descripcion
                    </td>
                    <td width="20%">
                        @cv.ProvinciaId
                    </td>
                    <th>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="CentroVacunacion2" asp-action="Editar" asp-route-id="@cv.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i>Editar</a>
                            <a asp-controller="CentroVacunacion2" asp-action="Borrar" asp-route-id2="@cv.Id" class="btn btn-primary mx-2"><i class="bi bi-trash-fill"></i>Borrar</a>
                        </div>
                    </th>
                </tr>
            }
        </tbody>

    </table>
</div>